/* the booking destination sections*/
.book-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35rem;
  align-items: flex-start;
  margin-bottom: 20rem;
}

.book-text {
  margin-bottom: 3.1rem;
}

.book-text p {
  margin-bottom: 1.5rem;
}

.book-text h2 {
  width: 51rem;
  text-align: left;
}

.book-steps {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.step {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 4.8rem;
  height: 4.2rem;
  border-radius: 1rem;
}

.i-yellow {
  background-color: #f0bb1f;
}

.i-orange {
  background-color: var(--color-2);
}

.i-blue {
  background-color: #006380;
}
.ps {
  margin: 1.3rem 1.4rem;
  color: white;
}

.step-info {
  display: flex;
  flex-direction: column;
  gap: 0 5rem;
}

.book-right {
  position: relative;
}

.dest-card {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  width: 30rem;
}

.dest-card img {
  width: 100%;
  height: 10ren;
  object-fit: cover;
  border-radius: 2.4rem;
  margin-bottom: 1rem;
}
.blue-shadow {
  box-shadow: 40px -40px 60px rgba(135, 206, 250, 0.4);
}

.dest-card h4 {
  margin-bottom: 1.4rem;
  color: var(--color-4);
}
.dest-card p {
  margin-bottom: 2.1rem;
  color: var(--color-4);
}

.dest-icon {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 3rem;
}

.dest-icon span {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}

.i-i {
  margin: 1.2rem 1rem;
}

.dest-last {
  display: flex;
  gap: 1.8rem;
  color: var(--color-4);
}

.float-dest {
  display: flex;
  gap: 2rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 26rem;
  position: absolute;
  top: 20rem;
  right: 18rem;
  border-radius: 1.8rem;
}

.img-flt {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.flt-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r-side {
  display: flex;
  flex-direction: column;
}

.r-side p {
  margin-bottom: 0.6rem;
}
.r-side h4 {
  margin-bottom: 1.4rem;
}

.p-bar {
  height: 0.5rem;
  width: 100%;
  background: #eee;
  border-radius: 1rem;
  overflow: hidden;
}
.fill-color {
  width: 40%;
  height: 100%;
  background-color: #6c63ff;
}
.r-side span {
  color: #6c63ff;
}
