header {
  padding: 5rem 11.9rem; /* i tired using margin but it didn't work*/
  background-image: url(/images/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

header .hero-section {
  display: flex;
}
/* left side of my hero section */
.left-hero {
  display: flex;
  flex-direction: column;
}

.left-hero h3 {
  color: var(--color-2);
  margin-bottom: 2.4rem;
}

.left-hero h1 {
  color: var(--h1-text);
  max-width: 60rem;
  width: 100%; /* for responsive desogn */
  margin-bottom: 3rem;
}

.left-hero p {
  max-width: 40rem;
  width: 100%;
  margin-bottom: 3.4rem;
}
