/* main > category  related contnent */
main {
  padding: 5rem 11.9rem;
  display: flex;
  flex-direction: column;
}

/* main sections */
.category-section {
  position: relative;
  margin-bottom: 12.3rem;
}

.category-text h4,
h2 {
  text-align: center;
}

.category-text h4 {
  margin-bottom: 1rem;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10rem;
  margin-top: 6.6rem;
}

.cat-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2.6rem;
  text-align: center;
  position: relative;
}

.g-1 {
  height: 7rem;
}

.cat_grid-text p {
  width: 20rem;
}

.p-absolute {
  position: absolute;
  top: 0rem;
  right: -10rem;
  z-index: -1;
}

/* hoover */
.cat-box {
  padding: 3rem;
  border-radius: 3.6rem;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  position: relative;
}

.cat-box:hover {
  background: #fff;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

.cat-box::before {
  content: "";
  width: 8.5rem;
  height: 8.5rem;
  background-color: var(--color-2);
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  bottom: -3rem;
  left: -3rem;
  display: block;
  opacity: 0; /* or use visibility */
  z-index: -1;
  transition: all 0.8s ease-in-out;
}

.cat-box:hover::before {
  opacity: 1; /* or visibiliy */
}
