/* stuffs that should be in the body tag and html tag */

/* affects the whole html */
html {
  font-size: 62.5%; /* so we can have 10 px as 1 rem for responsiveness 10 *100/ 16 = 62.5% or u can just do 16/10 * 100 */
  scroll-behavior: smooth;
}

/* stuff that we can see on screen */
body {
  font-family: var(--font-1);
  color: var(--text-color);
  font-size: var(--size-4);
}

/* general styles  */

h1 {
  font-family: var(--font-2);
  font-size: var(--size-1);
  font-weight: var(--w2);
  line-height: 8.9rem;
  letter-spacing: -4%;
}

h2 {
  font-family: var(--font-2);
  font-size: var(--size-2);
  font-weight: var(--w2);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--h2-text);
}

h3 {
  font-family: var(--font-1);
  font-size: var(--size-3);
  font-weight: var(--w2);
  line-height: 100%;
  letter-spacing: 0%;
}

h4 {
  font-family: var(--font-1);
  font-size: var(--size-5);
  font-weight: var(--w3);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-color);
}

p {
  font-family: var(--font-1);
  font-size: var(--size-4);
  font-weight: var(--w1);
}

a {
  text-decoration: none;
  font-size: var(--size-4);
}

li {
  list-style: none;
}
